.app {
  background-color: #fafafa;
  height: 100vh;
}
.app__header {
  background-color: white;
  padding: 10px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}
.app__headerImage {
  height: 50px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
